extends layout

block content
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    .container
      h3.h3= title 
      .row
        each product in products
          .col-md-3.col-sm-6
            .product-grid
              .product-image
                a(href='#')
                  img.pic-1(src=product.image)
                ul.social
                  li
                    a(href='', data-tip='Quick View')
                      i.fa.fa-search
                  li
                    a(href='', data-tip='Add to Wishlist')
                      i.fa.fa-shopping-bag
                  li
                    a(href='', data-tip='Add to Cart')
                      i.fa.fa-shopping-cart
                if product.sale
                  span.product-new-label Sale
                  span.product-discount-label= product.sale
              ul.rating
                - for (let i = 0; i < 5; i++)
                  if i < product.rating
                    li.fa.fa-star
                  else
                    li.fa.fa-star.disable
              .product-content
                h3.title
                  a(href='#')= product.name
                .price
                  | #{product.price}